body {
   font-family: "Courier New", Courier, Helvetica;
   font-size: 16px;
   font-family: "Courier New", Courier, monospace;
}

h1,h2,h3,h4,h5 {
   font-weight: bold;
   text-align: center;
   color: #333333;
}

h1 {
    font-size: 48px;
}

.content {
   font-family: Arial, Helvetica;
   font-size: 18px;
}

.center {
   text-aligned: center;
}

.right {
   float: right;
}

.left {
   float: left;
}

.top20 {
   top: 20px;
}
